.wrap-home{
    padding: 50px;
    margin: 50px 50px 0px;
}

.wrap-inside-home{
    padding-bottom: 50px;
}


.wrap-enter {
    white-space: pre-wrap;
  }

  .wrap-card-home{
    display: inline-grid;
    width: 25%;
    padding: 10px;

}

.wrap-inside-card-home{
    background-color: white;
    padding: 5px;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.17);
    border-radius: 15px;
}

  @media only screen and (max-width: 1200px){
    .wrap-card-home{
        width: 25%;
    }
}

@media only screen and (max-width: 1024px){
    .wrap-card-home{
        width: 33.3%;
    }
}

@media only screen and (max-width: 900px){
    .wrap-card-home{
        width: 50%;
    }
}

@media only screen and (max-width: 768px){
    .wrap-card-home{
        width: 100%;
    }
}

@media only screen and (max-width: 600px){
    .wrap-card-home{
        width: 100%;
    }
    .wrap-home{
        padding: 20px;
        margin: 20px;
    }
}


@media only screen and (max-width: 480px){
    .wrap-card-home{
        width: 100%;
    }

    .wrap-home{
        padding: 10px;
        margin: 20px;
    }
    
}


.wrap-image-card{
    height: 230px;
    border-radius: 10px 10px 0px 0px;
    box-shadow:0 2px 2px rgb(0 10 10 / 15%);
}

.wrap-image-card>img{
    height: 230px;
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    object-fit: cover;
}

.wrap-content-card{
    background-color: #FDF8E8;
    border-radius: 0px 0px 10px 10px;
    padding: 20px;
    font-family: inter;
    overflow: hidden;
}

.title-card{
    font-size: large;
    font-weight: 700;
    color: #003458;
    text-transform: capitalize;
    line-height: 30px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    overflow: hidden;
    -webkit-box-orient: vertical;
}

.date-taken{
    color: #F01159 ;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    margin: 10px;
}

.btn-tag{
    background-color: #DD84A1  ;
    border: 1px solid #DD84A1 ;
    width: 70%;
    height: 40px;
    color: white;
    padding: 8px 5px;
    border-radius: 20px;
    margin: 10px;
}

.btn-tag>label{
    margin: 0px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    overflow: hidden;
    line-height: 22px;
    font-size: 16px;
    -webkit-box-orient: vertical;
}

.btn-tag:hover, .btn-tag>label:hover{
    cursor: pointer;
    background-color: #FFBBBE ;
}

.author-id{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    overflow: hidden;
    -webkit-box-orient: vertical;
    font-size: 14px;
    font-weight: 500;
}

.author-id:hover{
    cursor: pointer;
    color: #003458;
}

.author-id>a{
    color: #003458;
    text-decoration: none;
}


.load-more-btn{
    text-align: center;
    margin: 20px 10px 50px;
}

.load-more-btn>button{
    padding: 5px 35px;
    border: 1px solid #DD84A1;
    background-color: transparent;
    border-radius: 15px;
    color: #DD84A1;
    outline: none;
}

.load-more-btn>button:hover{
    padding: 5px 35px;
    border: 1px solid #DD84A1;
    background-color: #DD84A1;
    border-radius: 15px;
    color: white;
}