.wrap-navbar{
    background-color: white;
    height: 64px;
    box-shadow:0 2px 2px rgb(0 0 0 / 15%);
    align-items: center;
}

.navbar-content{
    padding: 10px 40px;
    margin: 0px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-search {
    display: flex;
    height: 40px;
    border: 1px solid #8F8FAC;
    border-radius: 4px;
}

.navbar-search>input {
    flex: 1 0 150px;
    border: none;
    width: 100%;
    border-radius: 4px 0 0 4px;
    padding-left: 22px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    background-color: transparent;
    color: white;
}

.navbar-search>input:focus {
    outline: none;
}

.navbar-search>button {
    flex: 0 0 40px;
    background-color: transparent;
    border: none;
    border-radius: 0 4px 4px 0;
    transition: all 0.1s ease-in-out;
    color: #DD84A1;
    font-size: 20px;
}

.navbar-search>button:hover {
    background-color: #c0c0c0;
}